@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
	--first-text-color: black;
	--primary-color: #23A6F0;
	--secondary-color: #23856D;
	--second-text-color: #737373;
	--text-color: #252B42;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	font-size: 62.5%;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 24px;
	background-color: var(--secondary-color);
	width: 100%;
	height: 5.8rem;
	color: white;
	white-space: nowrap;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1.7rem 0 2.4rem;
	height: 9.1rem;
	width: 100%;
}

.site-name {
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.1px;

}

.menu-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5rem;
	margin-left: 8.3rem;
	height: 100%;
	width: 76.7rem;
	position: relative;
}


.menu-buttons {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.2px;
	list-style: none;
	color: var(--second-text-color);
}
.menu-buttons:hover{
	color:black;
}

.categorias-button {
	color: var(--first-text-color);
	font-weight: 500;

}

.vector {
	width: 5.714px;
	height: 10px;
	transform: rotate(90deg);
	fill: var(--text-color);

}

.menu-container a {
	text-decoration: none;

}

.login-chart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
	height: 100%;
}

.login-chart a {
	text-decoration: none;
	color: var(--light-text-color);
	list-style: none;

}

.links {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.2px;
	color: var(--primary-color);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2px;
}

.login {
	gap: 5px;
}

.header-icons {
	padding: 5px;
}

.number {
	width: 124px;
}

.mail {
	padding-right: 225px;
}

.socials {
	display: flex;
	flex-direction: row;
	padding-left: 21.625%;

}

.social-icons {
	margin-left: 15.5px;
}

.categorias-container {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;

}

.vector {
	background: black;
	height: 1.5px;
	width: 7px;

}

#vectorLeft {
	transform: rotate(45deg);
	margin-left: 3px;
}

#vectorRight {
	transform: rotate(-45deg);
	position: absolute;
	left: 85px;
}

#categorias-submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	width: 230px;
	background: #dfdfdf;
	top: 70px;
	border-radius: 6px;
	height:135px;
	padding:0;
}
.triangle{
	position: absolute;
	bottom:15px;
	right:-45px;
	z-index: -10;
}
.categorias-submenu-buttons {
	border: none;
	color: var(--second-text-color);
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	width:100%;
   height: 30px;
   background: transparent;   
}
.categorias-submenu-buttons:hover{
	color: var(--secondary-color);
} 